{% extends "secure_base.html" %}

{% block title %}
  {% if add %}
    Create New Loan
  {% else %}
    Edit Loan
  {% endif %}
{% endblock %}

{% block subcontent %}
  <form class="top-space" method="post">
  {% csrf_token %}
  <div class="span-13 last">
    <div class="span-3"><label for="lookup_person">Loan to:</label></div>
    <div class="span-10 last"><a href="#" id="lookup_person">{{ loaned_to.name|default:"Lookup Person" }}</a></div>
  </div>
  {{ item_form.as_div }}

  {{ loan_form.as_div }}
  <div class="prepend-11 span-2 last bottom-space"><input type="submit" value="Submit" /></div>
  </form>



  <script type="text/javascript">
    $(function() {
      var get_serial = function() {
        serial = $('[name=serial_number]').val()
        $.get('{% url item_description %}', {serial: serial}, function(data) {
          description = $("[name='description']");
          $('#load_link').remove();
          if (description.val() == '') {
            $('[name=description]').val(data);
          } else {
            load_link = $('<span id="load_link"> <a href="#">A description exists, click here to load.</a></span>');
            $("[name='serial_number']").after(load_link);
            load_link.click(function() {
              description.val(data);
            });
          }
        });
      };

      $("[name='serial_number']").blur(get_serial);
      
      $("#lookup_person").click(function() {
        var child = window.open("{% url find_person %}");
        if (window.focus) {
          child.focus();
        }
        window.person_selected = function(id, name) {
          $("[name='loaned_to']").val(id);
          $("#lookup_person").text(name);
          child.close();
        };
      	return false;
      });
    });
  </script>
{% endblock %}
