{% extends "base.html" %}

{% block content %}
  <div class="subtitle">Lookup Person</div>

  <form class="top-space" action="{% url find_person %}" method="post">
    {% csrf_token %}
    <div class="span-3"><label for="q">Lookup Person:</label></div>
    <div class="span-4"><input type="text" name="q" id="q"/></div>
    <div class="span-2 last bottom-space"><input type="submit" value="Search" /></div>
  </form>
  
  <div class="span-9 last"><a href="{% url add_person %}">Add Person</a></div>

  <table class="span-20">
    <tr class="table-header">
      <th>GT ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
    {% if results|length < 1 %}
      <tr class="empty-row"><td colspan="100">No results</td></tr>
    {% else %}
      {% if not results %}
      <tr class="empty-row"><td colspan="100">Use the above field to search</td></tr>
      {% endif %}
    {% endif %}
    {% for person in results %}
      <tr>
        <td><a href="javascript:select({{person.id}}, '{{person.name}}');">{{ person.gtid }}</a></td>
        <td><a href="javascript:select({{person.id}}, '{{person.name}}');">{{ person.name }}</a></td>
        <td><a href="javascript:select({{person.id}}, '{{person.name}}');">{{ person.email }}</a></td>
      </tr>
    {% endfor %}
  </table>
  <script type="text/javascript">
    function select(id, name) {
        window.opener.person_selected(id, name);
    }
  </script>
{% endblock %}
