<html>
  <head>
    <title>Receipt</title>
  </head>

  <body>
    <h1>Returned Item Confirmation</h1>
    <p>This confirms that the following item has been returned</p>
    <table style="text-align:left">
      <tr>
        <th>Serial Number</th>
        <td>{{ loan.item.serial_number|default:"N/A" }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ loan.item.description }}</td>
      </tr>
      <tr>
        <th>Loaned On</th>
        <td>{{ loan.date_loaned }}</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      <tr>
        <th>Returned On</th>
        <td>{{ loan.date_returned }}</td>
      </tr>
      <tr>
        <th>Returned To</th>
        <td>{{ loan.returned_to }}</td>
      </tr>
    </table>
  </body>
</html>
