{% extends "secure_base.html" %}

{% block title %}Loan Details{% endblock %}

{% block subcontent %}
  <div class="loan">
    <div class="subsection">
      <h4>Dates</h4>
      <div>
        <div class="label span-4">Loan Date</div>
        <div class="last">{{ loan.date_loaned }}</div>
      </div>
      <div>
        <div class="label span-4">Due Date</div>
        <div class="last">N/A</div>
      </div>
    </div>
    <div class="subsection">
      <h4>Equipment</h4>
      <div>
        <div class="label span-4">Serial Number</div>
        <div class="last">{{ loan.item.serial_number }}</div>
      </div>
      <div>
        <div class="label span-4">Description</div>
        <div class="last"> {{ loan.item.description }}</div>
      </div>
    </div>
    <div class="subsection">
      <h4>Loaned To</h4>
      <div>
        <div class="label span-4">Name</div>
        <div class="last">{{ loan.loaned_to.name }}</div>
      </div>
      <div>
        <div class="label span-4">GTID</div>
        <div class="last"> {{ loan.loaned_to.gtid }}</div>
      </div>
      <div>
        <div class="label span-4">Email</div>
        <div class="last"> {{ loan.loaned_to.email }}</div>
      </div>
      <div>
        <div class="label span-4">Location</div>
        <div class="last"> {{ loan.location }}</div>
      </div>
    </div>
    <div class="subsection">
      <h4>Notes</h4>
      <p>{{ loan.notes }}</p>
    </div>
    <div class="subsection">
      <h4>Status</h4>
      {% if loan.date_returned %}
        <div>
          <div class="label span-4">Status</div>
          <div class="last" style="color:green;">Returned</div>
        </div>
        <div>
          <div class="label span-4">Return Date</div>
          <div class="last">{{ loan.date_returned }}</div>
        </div>
        <div>
          <div class="label span-4">Returned To</div>
          <div class="last">{{ loan.returned_to }}</div>
        </div>
      {% else %}
        <div>
          <div class="label span-4">Status</div>
          <div class="last" style="color:red;">Not returned</div>
          <form action="{% url return_loan loan.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Return" /></br>
          </form>
        </div>
      {% endif %}
    </div>
    <div class="subsection">
      <h4>Comments</h4>
      {% for comment in comments %}
        <div class="comment">
          <b>{{ comment.user }}</b> &middot; <span style="color:#999;">{{ comment.date }}</span>
          <div class="comment-text">
            {{ comment.comment }}
          </div>
        </div>
      {% endfor %}
      <div>
        <form action="{% url comment_loan loan.id %}" method="POST">
          {{ comment_form.non_field_errors }}
          {% csrf_token %}
          {{ comment_form.comment.errors }}
          <div>
          {{ comment_form.comment }}
          </div>
          <div class="align-right">
            <input type="submit" value="Leave a comment" /></br>
          </div>
          <div class="clear"></div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
