{% extends "secure_base.html" %}

{% block subcontent %}
  <div class="loan">
    Description: {{ loan.item.description }}</br>
    Contact Email: {{ loan.contact_email }}<br/>
    Location: {{ loan.location }}<br/>
    Notes: {{ loan.notes }}<br/>
    Loan Date: {{ loan.date_loaned }}<br/>
    {% if loan.date_returned %}
        Return Date: {{ loan.date_returned }}<br/>
        Returned to: {{ loan.returned_to }}<br/>
    {% else %}
        <form action="{% url return_loan loan.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Return" /></br>
        </form>
    {% endif %}
  </div>
{% endblock %}
