{% extends "base.html" %}
{% block nav %}
<span>Logged in as <i>{{ user }}</i></span>
<a href="{% url add_loan %}" class="large">Create New Loan</a> 
<a href="{% url logout %}" class="large">Logout</a> 
{% endblock %}
{% block content %}
<div id="sidebar-container" class="span-4 border column last-important">
<ul id="sidebar" class="top-space first">
  {% block sidebar_links %}
  <li><a class="large" href="{% url current_loans %}">Current Loans</a></li>
  <li><a class="large" href="{% url past_loans %}">Past Loans</a></li>
  {% endblock %}
</ul>
</div>
<div class="top-space span-19 prepend-1 last">
  <div class="subtitle">
    {% block title %}{% endblock %}
    <span class="title-options">{% block title-options %}{% endblock %}</span>
  </div>
{% block subcontent %}
{% endblock %}
</div>
{% endblock %}
