{% extends "secure_base.html" %}

{% block title %}Current Loans{% endblock %}

{% block subcontent %}
<div class="top-space append-1 last">
  <table class="span-20">
    <tr>
      <th>Serial Number</th>
      <th>Description</th>
      <th>Loaned To</th>
      <th>Location</th>
      <th>Loaned On</th>
    </tr>
    {% for loan in loans %}
      <tr>
        <td><a href="{% url view_loan loan.id %}">{{ loan.item.serial_number|default:"No Serial Number" }}</a></td>
        <td>{{ loan.item.description|truncatewords:5 }}</td>
        <td>{{ loan.loaned_to.name }}</td>
        <td>{{ loan.location }}</td>
        <td>{{ loan.date_loaned }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
