{% extends "secure_base.html" %}

{% block title %}User Admin{% endblock %}

{% block sidebar_links %}
  <li><a class="large" href="{% url current_loans %}">Current Loans</a></li>
  <li><a class="large" href="{% url past_loans %}">Past Loans</a></li>
  <li><a class="large current-page" href="{% url user_admin %}">User Admin</a></li>
{% endblock %}

{% block subcontent %}
<div class="top-space append-1 last">
  <div class="align-left span-8">
    <span class="table-title">Grant Access to a new User</span>
    <div style="margin-top:15px;">
    <form method="post">
      {% csrf_token %}
      <div style="color:red;">
        {% for error in form.username.errors %}
          {{ error }}
        {% endfor %}
      </div>
      <div class="label span-2" style="margin:0.5em 0;"><span style="color:red;">*</span>Username:</div>
      <div class="span-4"> {{ form.username }}</div>
      <div class="span-2 last" style="margin-top: 2px;">
        <input type="submit" value="Grant" />
      </div>
    </form>
    </div>
  </div>
  <table class="span-10 last align-right customtable">
    <tr class="table-header">
      <th>Current Valid Users</th>
    </tr>
  {% if usernames|length < 1 %}
    <tr class="empty-row"><td colspan="100">Only Superusers Are Currently Permitted</td></tr>
  {% else %}
    {% for user in usernames %}
      <tr class="user-row">
        <td>{{user.username}}</td>
        <td>
        <form action="{% url remove_user user.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Remove" />
        </form>
        </td>
      </tr>
    {% endfor %}
  {% endif %}
  </table>
</div>
{% endblock %}
