#header {
  height: 36px;
  background: #F7D682;
  padding: 10px; 
}

.top-space {
  margin-top: 40px;  
}

.bottom-space {
  margin-bottom: 40px;  
}

.align-right {
  float: right;
}

.align-left {
  float: left;
}

.clear {
  clear: both;
}

#login-box, .subsection {
  border: 1px solid #E5E5E5;
  background: whitesmoke;
}

#sidebar-container {
  height: 100%;
  margin-bottom: -2056px !important;
}

.subsection {
  padding: 15px;
  margin-bottom: 10px;
}

#login-box {
  padding: 25px;
  margin-left: 320px;
}

.nav > * {
  margin-left: 25px;
}

#sidebar {
   list-style-type: none;
   width: 100%;
}

.last-important {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

#sidebar a {
  display: block;
  color: black;
  text-decoration: none;
  padding-left: 5px;
  margin-bottom: 0;
}

#sidebar li:hover, .current-page {
  background: #E9ECFF; 
}

.subtitle {
  font-size: 18px;
  border-bottom: 1px solid #EEE;
  margin-bottom: 40px;
}

.left-space {
  margin-left: 10px;
}

.right-space {
  margin-right: 10px;
}

.unstyled-link {
  text-decoration: none;  
  color: black;
}

.unstyled-link:hover {
  color: black;  
}

.label {
  font-weight: bold;
}

.comment {
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.return {
  font-size: 18px;
}

/* Hack for getting equal height cols in blueprint */
.column {
  padding-bottom : 2000px;
  margin-bottom : -2000px;
}

.container {
  overflow: hidden;
}

table {
  border-collapse: collapse;  
}

table tr {
  border: 1px solid #BBB;
}

.table-header {
  border: 0;  
}

th {
  font-size: 14px;
}

td {
  padding: 0;
}

td a, td a:hover {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 4px 10px 4px 5px;
}

table tr:hover td {
  background-color: #BCD4EC;
}

.empty-row td, .empty-row:hover td {
  padding: 4px 10px 4px 5px;
  background: #E5ECF9;
  font-weight: bold;
  text-align: center;
}
